* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
}

header {
    position: relative;
    text-align: center;
    width: 100%;
    height: 350px;
    background-image: url('/contents/background.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffeb3b;
    background-color: rgba(0, 0, 0, 0.75); /*Opacité du background*/
    background-blend-mode: darken;
}

header h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
    color: #ffeb3b;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
}

.search-bar button {
    padding: 10px;
    border: none;
    background-color: #ffeb3b;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.filters select, .filters span {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.recipes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.recipe-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 220px; /* Taille des cartes ajustée */
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    transition: transform 0.2s; /* Effet au survol */
}

.recipe-card:hover {
    transform: scale(1.05); /* Agrandissement au survol */
}

.image-placeholder {
    background-color: #e0e0e0;
    background-size: cover;
    background-position: center;
    width: 190px;
    height: 200px; /* Taille de l'image ajustée */
    margin-bottom: 15px;
}

.recipe-card h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.recipe-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.ingredients {
    font-size: 12px;
    color: #777;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    background-color: #f9c74f;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.tag button {
    background: none;
    border: none;
    margin-left: 5px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.no-result-message {
    color: red;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

